<%=
=begin
/*
 * Copyright (c) 2012 HAYAKAWA Takashi
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 * 
 * http://ackcell.com
 */
=end
%>
<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Typically Case</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse"
       <%= "data-ajax='false'" if is_bb6 %>>Home</a>
      
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li>
        <%= link_to '1. Set callback to rotation', { :action => :setcallback }%>
      </li>
      <li>
        <%= link_to '2. Start iAD(BOTH)', { :action => :startad }%>
      </li>
      <li>
        <%= link_to '3. Set position', { :action => :setposition }%>
      </li>
      <li>
        <%= link_to '4. Show iAD', { :action => :display }%>
      </li>
      <li>
      wait until ad banner appears
      </li>
      <li>
      rotate device as you like
      </li>
      <li>
      tap HIDE to hide the banner
      </li>
      <li>
        <%= link_to '5. Hide iAD', { :action => :hide }%>
      </li>
      <li>
      goto 3. or 4. until quit this case.
      </li>
      <li>
        <%= link_to '6. Quit iAD', { :action => :endad }%>
      </li>
    </ul>
  </div>

</div>

</div>

