<%=
=begin
/*
 * Copyright (c) 2012 HAYAKAWA Takashi
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 * 
 * http://ackcell.com
 */
=end
%>
<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Set Ad Position</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse"
       <%= "data-ajax='false'" if is_bb6 %>>Home</a>
      
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :getposition %>">

        <h2 class="groupTitle">Enter ad coordinate</h2>
        <ul>
          <li>
             <label for="getposition[x]" class="fieldLabel">x</label>
             <input type="text" name="getposition[x]" <%= placeholder( "x" ) %> />
           </li>
           <li>
             <label for="getposition[y]" class="fieldLabel">x</label>
             <input type="text" name="getposition[y]" <%= placeholder( "y" ) %> />
           </li>
         </ul>
      <input type="submit" class="standardButton" value="SET" />

    </form>
    <form method="POST" action="<%= url_for :action => :resetposition %>">

      <input type="submit" class="standardButton" value="RESET(x=0,y=0)" />

    </form>



  </div>

</div>

