<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>IADextention</h1>
    <% if SyncEngine::logged_in > 0 %>
        <%= link_to "Sync", :controller => :Settings, :action => :do_sync %>
        <%= link_to "Logout", :controller => :Settings, :action => :logout %>
    <% else %>
        <%= link_to "Login", :controller => :Settings, :action => :login %>
    <% end %>
  </div>

  <div data-role="content">
    <table>
      <tr>
        <td class="recordLabel">Add links here...</td>
      </tr>
    </table>
  </div>

</div>
